
.lileft{
	
	a:hover{
		color: red;
		text-decoration: underline;
	}
}

.des-m{
	
	// 	width: 1190px;
	// 	height: 290px;
	// 	margin-top: 10px;
	// 	.z-layer{
	// 		width: 178px;
	// 		height: 40px;
	// 		border-top: #ed1f23 2px solid;
	// 		color: #ed1f23;
	// 		margin-right: -1px;
	// 		cursor: pointer;
	// 		border-left: #eee 1px solid;
	// 		border-right: #eee 1px solid;
	// 		font-size: 16px;
	// 		text-align: center;
	// 		line-height: 40px;
	// 	}
	// 	.z-spmore{
	// 		width: 1188px;
	// 		height: 242px;
	// 		position: relative;
	// 		border: #eee 1px solid;
	// 		.btn{
	// 			width:23px;
	// 			height:80px;
	// 			background:#b2b2b2;
	// 			position:absolute;
	// 			cursor: pointer;
	// 			line-height:80px;
	// 			z-index: 2;
	// 			color:white;
	// 			text-align:center;
	// 		}
	// 		.left{
	// 			position: absolute;
	// 			left: 10px;
	// 			top: 70px;
	// 		}
	// 		.right{
	// 			position: absolute;
	// 			left: 1140px;
	// 			top: 70px;
	// 		}
	// 		.mrt-bot{
	// 			width: 1090px;
	// 			margin:0 auto;
	// 			height: 222px;
	// 			margin-top: 20px;
	// 			overflow: hidden;
	// 			position: relative;
	// 		}
	// 		.box{
	// 			width: 4368px;
	// 			height: 242px;
	// 			display: flex;
	// 			flex-wrap: nowrap;
	// 			position: absolute;
	// 			left: -1092px;
	// 			.list{
	// 				width:156px;
	// 				height:242px;
	// 				flex-shrink: 0;
	// 			}
	// 			.list a{
	// 				display: block;
	// 			}
	// 			.pic{
	// 				width: 165px;
	// 				height: 165px;
	// 			}
	// 			.title{
	// 				width: 120px;
	// 				white-space:nowrap;
	// 				overflow:hidden;
	// 				text-overflow:ellipsis;
	// 				height: 20px;
	// 				line-height: 20px;
	// 				color: #666666;
	// 				font-size: 12px;
	// 			}
	// 			.price{
	// 				height: 27px;
	// 				line-height: 27px;
	// 				color: #ed1f23;
	// 				font-size: 14px;
	// 				font-weight: 900;
	// 			}
	// 		}
	// 	}
	// }
	.xia{
		
		.xia-left{
			
			// 	display: block;
			// 	width: 112px;
			// 	height: 30px;
			// 	line-height: 30px;
			// 	margin: 10px 0 50px;
			// 	border-radius: 2px;
			// 	background-color: #ed1f23;
			// 	color: #fff;
			// 	text-align: center;
			// 	cursor: pointer;
			// }
			.ckmore:hover{
				background-color: #d91216;
			}
			
			.shouqi:hover{
				background-color: #e5e5e5;
			}
		}
		
	}
}

